@font-face {
    font-family: 'Artifakt';
    src: url('./Artifakt_Element_Regular.woff2') format('woff2');
}

body {
    padding-top: 1em;
    padding-bottom: 1em;
    font-family: Artifakt;
}

.preview-section {
    margin-top: 2em;
}

.preview-component {
    margin: 0.5em;
}